.circle-date-container {
  position: relative;
  margin: 0px 5px;
}

.circle-date-circle {
  border: 1px solid rgba(0, 0, 0, 0.12);
  height: 39px;
  width: 39px;
  border-radius: 39px;
  position: relative;
}

.circle-date-day {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 9px;
  font-weight: 400;
  font-family: Poppins;
}

.circle-date-number {
  font-weight: 700;
  position: absolute;
  size: 14px;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle-date-selected {
  border: 1px solid #ef476f;
}
