.footer-container {
  height: 100px;
  width: 100%;
  flex: 0 0 auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // border: 2px solid pink;
}
.footer-buttons-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  // border: 2px solid blue;
}

.footer-container-img-container {
  //   border: 1px yellow solid;
  height: 100%;
  width: 157px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
}

.footer-container-img-house-container,
.footer-container-img-stats-container {
  //   color: red;
  background-color: white;
  border: none;
  height: 35px;
  width: 35px;
  //   border: 1px orange solid;
  position: relative;
  &:hover {
    cursor: pointer;
  }
}
.add-img-container {
  width: 58px;
  &:hover {
    cursor: pointer;
  }

  //   background-color: orange;
}
.footer-container-img-add-container {
  background-color: white;
  border: none;
  height: 58px;
  width: 58px;
  position: relative;
  &:hover {
    cursor: pointer;
  }
}

.selected-footer-container {
  border-bottom: 6px #ef476f solid;
}
