.container {
  width: 100%;
  height: 50px;
  background: #ffffff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
}

.backtext {
  font-weight: 400;
  font-size: 16px;
  &:hover {
    cursor: pointer;
  }
}

.sub {
  position: relative;
  width: 75px;
}
