.container {
  background-color: #dddddd;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-radius: 10px;
  width: 350px;
}

.text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 18px;
  font-size: 14px;
  & p:first-child {
    font-weight: 700;
    font-size: 18px;
    font-family: Poppins;
  }
  & p {
    margin: 0px;
  }
}

.button {
  padding: 0px;
  width: 50%;
  height: 35px;
  width: 35px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
  background-color: #dddddd;
  border: none;
  &:hover {
    cursor: pointer;
  }
}
