.habit-header-back-text {
  padding-left: 34px;
  font-weight: 400;
  background-color: white;
  border: none;
  font-size: 16px;
  &:hover {
    cursor: pointer;
  }
}

.habit-header-empty {
  position: relative;
  width: 75px;
}
