.next-footer-component-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.next-footer-text-bubble {
  background-color: black;
  width: 292px;
  height: 58px;
  color: white;
  font-weight: 700;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  &:hover {
    cursor: pointer;
  }
}
