.page-component-container {
  // background-color: pink;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: 100%;
}

.children-container {
  // background-color: lightgreen;
  flex: 1 1 auto;
}
.footer-component-container {
  // background-color: lightblue;
  flex: 0 0 auto;
}
