.container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: 100%;
  align-items: center;
}
.header {
  flex: 0 0 auto;
  width: 100%;
}
.children {
  flex: 1 1 auto;
}
.footer {
  flex: 0 0 auto;
  width: 100%;
}

@media only screen and (min-width: 450px) {
  .children {
    max-width: 450px;
  }
}
