.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}
.header {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
}
.children {
  flex: 1 1 auto;
  padding-top: 50px;
  padding-bottom: 98px;
}
.footer {
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 10;
  background-color: white;
  padding-top: 10px;
}

@media only screen and (min-width: 450px) {
  .children {
    max-width: 450px;
  }
}
