.container {
  width: 100%;
  font-size: 14px;
  padding-bottom: 38px;
}

.label {
  padding-bottom: 16px;
}

.row {
  & div:not(:first-child) {
    margin-left: 8px;
  }
}

.bubble {
  background-color: #dfdfdf;
  color: #4e4c49;
  height: 27px;
  width: 76px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-bottom: 10px;

  &:hover {
    cursor: pointer;
  }

  &.selected {
    background-color: #118ab2;
    color: white;
  }
}
