.content {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 45px;
  padding: 33px 18px;
  @media only screen and (max-width: 450px) {
    padding: 33px 18px;
  }
}

.inputcontainer {
  width: 100%;
  padding-bottom: 15px;
}

.input {
  margin-top: 8px;
  width: 100%;
  border-radius: 10px;
  height: 90px;

  border: 1px solid rgba(56, 56, 56, 0.6);
}
